h3 {
    margin: 0;
}
.calculator{
    /* background: rgb(222, 247, 175);
    height: 100%; */
}
.history-bar{
    /* background: red; */
    height: 20px;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(117, 117, 117); */
    color: black;
    text-align: right;
    padding: 0 10px;
}
.results-bar{
    height: 50px;
    /* border: 1px solid rgb(117, 117, 117);  */
    border-radius: 5px;
    color: white;
    background: rgb(77, 69, 197);
    margin: 2px 5px;
    font-size: 25pt;
    text-align: right;
    padding: 0 10px;
    box-shadow: 3px 3px 5px rgb(100, 100, 100);

}

.memory-bar{
    /* background: yellow; */
    height: 20px;
    
}
.keys{
    width: 355px;
}

.key{
    position: relative;
    display: inline-block;
    background: rgb(77, 69, 197);
    height: 25px;
    width: 82px;
    margin: 1px 2px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(100, 100, 100);

}
.key:hover{
    background: rgb(146, 143, 192);
}
.key:active{
    top: 1px;
}

.mem-key{
    position: relative;
    display: inline-block;
    margin: 0 3px;
    /* background: black/=; */
    width: 80px;
    height: 20px;
    color: black;
    font-size: 10pt;
    /* text-align: top; */
    vertical-align: text-top;
    border-radius: 3px;
    /* padding: 2px 0; */
    cursor: pointer;

}

.mem-key:hover{
    background: rgb(228, 144, 144);
}
.mem-key:active{
    top: 1px;
}